<a href="#/" class="btn">Back</a>

<div class="messages">
    <div class="message row">
        <div class="title span10">{{topic.Title}}</div>
        <div class="date span2">{{topic.Created | date:"medium"}}</div>
        <div class="contents span12">{{topic.Body}}</div>
        <div class="toolbar span12">
            <button class="btn btn-primary reply-button">Reply</button>
        </div>
        <div class="replies span12">
            <div class="reply" data-ng-repeat="r in topic.Replies">
                <div class="created pull-right">{{r.Created | date:"medium"}}</div>
                <div class="content">{{r.Body}}</div>
            </div>
        </div>
    </div>
    <h3>Add Reply</h3>
    <form name="newReplyForm" novalidate data-ng-submit="addReply()">
        <fieldset>
            <div>
                <label for="body"></label>
                <textarea name="body" cols="30" rows="5" data-ng-model="newReply.Body" required data-ng-minlength="15"></textarea>
                <span data-ng-show="newReplyForm.body.$error.required">*</span>
                <span data-ng-show="newReplyForm.body.$error.minlength">Minimum 15 characters</span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn" data-ng-disabled="newReplyForm.$invalid" />
                <a href="#/" class="btn">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
